@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply cursor-none;
  }
}

body {
  background-color: #e0f2fe;
}

pre code.hljs {
  background-color: rgba(0, 0, 0, 0.9) !important;
  border-radius: 10px;
}

pre code.language-python-repl {
  background-color: rgba(60, 60, 60, 0.9) !important;
  border-radius: 10px;
  padding: 1em;
}